[submodule "models/RadGraph"]
	path = models/RadGraph
	url = https://github.com/Suyash-A/RadGraph.git
[submodule "models/dygiepp"]
	path = models/dygiepp
	url = https://github.com/Suyash-A/dygiepp.git
[submodule "models/chexpert-labeler"]
	path = models/chexpert-labeler
	url = git@github.com:Suyash-A/chexpert-labeler.git
[submodule "models/mimic-cxr"]
	path = models/mimic-cxr
	url = git@github.com:Suyash-A/mimic-cxr.git
